<template name="header">
  <ul id="user_dropdown" class="dropdown-content">
    <li>
      <a href="{{pathFor 'App.user.settings'}}">Settings</a>
    </li>
    <li>
      <a href="#signout">Sign out</a>
    </li>
  </ul>
  <nav class="nav-wrapper amber darken-2">
    <a href="{{pathFor 'App.home'}}" class="brand-logo">Pair Research</a>
    <ul class="right">
      {{#if currentUser}}
      <li>
        <a href="{{pathFor 'App.groups.home'}}">
          Groups
          {{#if pendingGroups}}
            <span class="new badge">{{pendingGroups}}</span>
          {{/if}}
        </a>
      </li>
      <li>
        <a href="#" class="dropdown-button" data-activates="user_dropdown" data-beloworigin="true">
          {{currentUser.profile.fullName}}<i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      {{else}}
        <li>
          <a href="{{pathFor 'App.login'}}">
            Sign in
          </a>
        </li>
      {{/if}}
    </ul>
  </nav>
</template>
