#groups_settings {
  width: 100%;
  height: calc(100vh - 64px);
  padding-left: 240px;
  overflow: hidden;

  @media #{$small-and-down} {
    padding-left: 15px;
  }

  ul.side-nav {
    position: absolute;
    top: 64px;
    height: calc(100% - 64px);
    overflow: hidden;

    li .title {
      @extend .bold;
      padding: 0 30px;
    }
  }

  ul.collection {
    margin-top: 1em;
  }

  section {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 1em;
    margin-bottom: 0;

    h3.header {
      margin-bottom: 1em;
    }
  }

  section.row > .col {
    @extend .s12, .m8, .offset-m2;
  }

  #groups_settings_info {
    button {
      margin-top: 1em;
    }
  }

  #groups_settings_members {
    .col.s10 {
      padding-bottom: 3em;
    }
    button#enter {
      margin-top: 10px;
      width: 100%;
    }

    span.input-label-text {
      .material-icons {
        font-size: 18px;
        line-height: 1rem;
        vertical-align: bottom;
      }
    }

    // override materialize
    .collection-item {
      min-height: 0;

      .name {
        .material-icons {
          font-size: 24px;
          line-height: 24px;
          vertical-align: bottom;
        }
      }

      .secondary-content {
        top: 21px;
      }

      &:not(.pending) {
        span.name {
          cursor: pointer;
        }
      }
    }
  }
}