#groups_settings {
  width: 100%;
  height: calc(100vh - 64px);
  padding-left: 240px;
  overflow: hidden;

  ul.side-nav {
    position: absolute;
    top: 64px;
    height: calc(100% - 64px);
    overflow: hidden;

    li .title {
      @extend .bold;
      padding: 0 30px;
    }
  }

  ul.collection {
    margin-top: 1em;
  }

  section {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 1em;
    margin-bottom: 0;

    h3.header {
      margin-bottom: 1em;
    }
  }

  #groups_settings_info {
    button {
      margin-top: 1em;
    }
  }

  #groups_settings_members {
    .col.s10 {
      padding-bottom: 3em;
    }
    // override materialize
    .collection-item {
      min-height: 0;
      .secondary-content {
        top: 21px;
      }
    }
  }
}