#home {
  margin-top: 0;
  flex: 1 0 auto;

  nav {
    position: absolute;
    z-index: 2;
    background: none;
    box-shadow: none;
  }

  .row {
    margin-bottom: 0;
  }

  .banner {
    @extend .amber, .darken-2;
    width: 100%;
    min-height: 50px;
    height: 20vh;
    position: relative;

    .row, .col {
      position: relative;
      height: 100%;
    }

    .header {
      @extend .white-text;
      margin-top: 0;
      position: relative;
      text-align: left;
    }

    h1 {
      top: 40%;
      left: 25%;
      transform: translateY(-50%);
    }

    h4 {
      top: 50%;
      transform: translateY(-50%);
      font-weight: 400;

      img {
        vertical-align: bottom;
        height: 48px
      }
    }

    .link {
      @extend .teal-text;
    }
  }

  .actions {
    a.btn-large {
      margin-bottom: 1.5em;
    }
  }

  .container {
    padding-top: 2em;
    text-align: center;

    .card {
      width: 75%;
      margin: auto;
    }

    h2 {
      @extend .amber-text, .text-darken-2;
      font-size: 2.1em;
      font-weight: 300;
      text-align: center;

      margin-top: 1em;
      margin-bottom: 1em;
    }

    .inline {
      display: inline-block;
    }
  }

  @media #{$small-and-down} {
    .banner {
      padding-top: 5em;
      height: auto;
      text-align: center;

      .header {
        position: static;
        text-align: center;
        transform: none;
      }

      .actions {
        margin-top: 2em;
        text-align: center;
        position: static;
        transform: none;
      }
    }
  }
}

.page-footer {
  width: 100%;
  left: 0;
  bottom: 0;

  padding: 1em;
  font-size: 1em;

  a {
    @extend .cyan-text, .text-darken-1;
  }

  img {
    margin-bottom: 1em;
  }

  .row {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .container {
    padding-top: 0;
  }

  .info, .contact {
    margin-top: 0;
    font-size: 1em;
  }

  hr {
    @extend .amber, .darken-2;
    display: block;
    height: 2px;
    border: 0;
    text-align:center;
    margin: 1em auto;
    width: 10%;
  }
}
