#home {
  margin-top: 0;

  nav {
    position: fixed;
    z-index: 2;
    background: none;
    box-shadow: none;
  }

  .banner {
    @extend .amber, .darken-2;
    width: 100%;
    height: 450px;
    position: relative;

    .row, .col {
      position: relative;
      height: 100%;
    }

    .header {
      @extend .white-text;
      margin-top: 0;
      position: absolute;
    }

    h1 {
      top: 40%;
      left: 25%;
      transform: translateY(-50%);
    }

    h3 {
      top: 60%;
      left: 40%;
      transform: translateY(-50%);
      font-weight: 300;

      img {
        vertical-align: bottom;
        height: 48px
      }
    }

    .link {
      @extend .teal-text;
    }

    .actions {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      a.btn-large {
        width: 220px;
      }
    }
  }

}
