
#pair.container {
  .collection {
    li.collection-item {
      height: 84px;

      .right p {
        display: inline-block;
      }
    }

    .float-center {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &.left {
        max-width: 50%;
      }

      &.right {
        right: 5%
      }

      input {
        width: auto;
      }
    }

  }
}
