#signup {
  .col.m8.offset-m2 {
    position: relative;
  }
  .step {
    position: absolute;
    left: 0;
    right: 0;
  }
  form {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;

    .input-field {
      width: calc(100% - 225px);
    }

    .avatar-column {
      position: absolute;
      bottom: 5%;
      right: 0;

      img {
        margin-bottom: 2em;
      }
      button {
        width: 100%;
      }

      .image-wrapper {
        position: relative;
        cursor: pointer;

        .image-hover {
          position: absolute;
          background-color: black;
          width: 100%;
          height: 100%;
          opacity: 0.0;
          top: 0;
          color: white;

          &:hover {
            opacity: 0.4;
          }

          .hover-text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            user-select: none;

            h5 {
              font-size: 1.4em;
            }
          }
        }
      }
    }

    img {
      width: 150px;
      height: 150px;
      display: block;
    }
  }

  .pair-form {
    button {
      margin-right: 1em;
    }
  }

  @media #{$small-and-down} {
    .step {
      left: 15px;
      right: 15px;
      .input-field {
        width: 100%;
      }

      .avatar-input {
        position: static;

        img {
          margin-bottom: 0;
        }
      }
    }
  }
}