#signup {
  .col.m8.offset-m2 {
    position: relative;
  }
  .step {
    position: absolute;
    left: 0;
    right: 0;
  }
  form {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;

    button {
      margin-top: 2em;
    }

    .input-field {
      width: calc(100% - 225px);
    }

    .avatar-input {
      position: absolute;
      bottom: 5%;
      right: 0;

      img {
        margin-bottom: 2em;
      }
      button {
        width: 100%;
      }
    }

    img {
      width: 150px;
      height: 150px;
      display: block;
    }
  }

  .pair-form {
    button {
      margin-right: 1em;
    }
  }

  @media #{$small-and-down} {
    .step {
      left: 15px;
      right: 15px;
      .input-field {
        width: 100%;
      }

      .avatar-input {
        position: static;

        img {
          margin-bottom: 0;
        }
      }
    }
  }
}