#user_settings {
  form {
    margin-bottom: 3em;
  }

  .about {
    display: flex;
    align-items: stretch;
    width: 100%;

    .fields {
      width: 70%;
    }
    .image {
      width: 30%;
      position: relative;

      img {
        margin-top: 1em;
        width: 150px;
        height: 150px;
      }

      button {
        width: 100%;
        margin-top: 1em;
      }
    }
  }

  .password {
    button {
      margin-top: 1em;
    }
  }
}