<template name="group_settings_member">
  <li class="collection-item {{$if isPending 'pending' ''}} {{$if isAdmin 'admin' ''}} avatar">
    <img src="{{avatar}}" alt="{{member.fullName}}" class="circle">
    <span class="name title">
      {{member.fullName}}
      {{#if isPending}}
        (pending)
      {{/if}}
    </span>
    <select name="{{member.fullName}}_role" data-user="{{member.userId}}">
      {{#each role in roles}}
        <option value="{{role.title}}" selected="{{$eq member.role.title role.title}}">
          {{role.title}}
        </option>
      {{/each}}
    </select>
    <a href="" class="secondary-content">
      <i class="material-icons delete">close</i>
    </a>
  </li>
</template>
