<template name="groups_settings_roles">
  <section class="row" id="groups_settings_roles">
    <div class="col">
      <h3 class="header">{{group.groupName}} &mdash; Roles</h3>
      <p class="info">
        These are the available roles that group members can select. You can see breakdowns of
        pairings and tasks for members of each specific group in Pairing Statistics. <br/><br/>

        Changes are not saved until you have clicked the save button.
      </p>
      <ul class="collection roles">
        {{#each role in roles}}
          <li class="collection-item">
            <span class="role-left">
              {{#if (isEditing @index)}}
                <i data-index="{{@index}}" class="material-icons">done</i>
                    <input data-index="{{@index}}" name="{{@index}}-role-name" type="text" class="browser"
                           value="{{role.title}}" placeholder="Role title">
              {{else}}
                <i data-index="{{@index}}" class="material-icons">edit</i>
                    <span data-index="{{@index}}">{{role.title}}</span>
              {{/if}}
            </span>
            <a href="#delete" data-index="{{@index}}" class="secondary-content">
              <i class="material-icons">close</i>
            </a>
          </li>
        {{/each}}
        <li class="collection-item disabled">
          <span>
            <div class="material-icons">add</div>
            Add
          </span>
        </li>
      </ul>
      <button class="pair-form-button waves-effect waves-light">Save</button>
    </div>
  </section>
</template>