<template name="group_settings_pairing_history">
  <section class="row" id="group_settings_pairing_history">
    <div class="col s8 offset-s2">
      <h3 class="header">{{group.groupName}} &mdash; Pairing History</h3>
      <ul class="pagination">
        <li class="{{$if ($eq offset 0) 'disabled' 'waves-offset'}}">
          <a href="#page-left"><i class="material-icons">chevron_left</i></a>
        </li>
        {{#each page in offsets}}
          <li class="waves-effect {{$if ($eq offset @index) 'active'}}">
            <a href="#set-page" data-index="{{@index}}">{{$plus @index 1}}</a>
          </li>
        {{/each}}
        <li class="{{$if ($eq offset maxOffset) 'disabled' 'waves-offset'}}">
          <a href="#page-right"><i class="material-icons">chevron_right</i></a>
        </li>
      </ul>
      <ul class="collection">
        {{#each pair in pairings}}
          <li class="collection-item">
            {{$formatDate pair.timestamp 'MM/DD/YYYY hh:mm a'}}: <br/>
            {{#if pair.secondUserName}}
              {{pair.firstUserName}} ({{task pair.firstUserId pair.pairingId}}) <br/>
              {{pair.secondUserName}} ({{task pair.secondUserId pair.pairingId}})
            {{else}}
              {{pair.firstUserName}} was not paired. ({{task pair.firstUserId pair.pairingId}})
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  </section>
</template>