<template name="groups_home_invite">
  <li class="collection-item">
    <div>
      <!-- TODO: link me to group info page -->
      <span>
        {{group.groupName}}
        <span class="info">
          as
          <select class="browser-default">
            <option selected="true" disabled>Pick role...</option>
            {{#each role in group.roles}}
              <option value="{{role.title}}">
                {{role.title}}
              </option>
            {{/each}}
          </select>
        </span>
      </span>
      <a href="#accept" class="tertiary-content">
        <i class="material-icons">done</i>
      </a>
      <a href="#reject" class="secondary-content">
        <i class="material-icons">close</i>
      </a>
    </div>
  </li>
</template>