<template name="groups_settings_member">
  <li class="collection-item {{$if member.isPending 'pending' ''}} {{$if member.isAdmin 'admin' ''}} avatar">
    <img src="{{avatar}}" alt="{{member.fullName}}" class="circle">
    <span class="name title" data-user="{{member.userId}}">
      {{member.fullName}}
      {{#if member.isPending}}
        (pending)
      {{/if}}
      {{#if member.isAdmin}}
        <i class="material-icons">person</i>
      {{/if}}
    </span>
    <select name="{{member.fullName}}_role" data-user="{{member.userId}}">
      {{#each role in roles}}
        <option value="{{role.title}}" selected="{{$eq member.role.title role.title}}">
          {{role.title}}
        </option>
      {{/each}}
    </select>
    <a href="#" class="remove-member-group secondary-content">
      <i class="material-icons delete">close</i>
    </a>
  </li>
</template>
