<template name="group_settings_pairing_stats">
  <section class="row" id="group_settings_pairing_stats">
    <div class="col s8 offset-s2">
      <h3 class="header">{{group.groupName}} &mdash; Pairing Statistics</h3>
      <ul class="tabs">
        <li class="tab col s3"><a href="#all">All Group</a></li>
        <li class="tab col s3"><a href="#role">Role</a></li>
        <li class="tab col s3"><a href="#individual">Individual</a></li>
      </ul>
    </div>
    <div class="col s8 offset-s2" id="all">
      <div class="card">
        <div class="card-content">
          <span class="card-title">All Time Aggregate Numbers</span>
          <p>
            Total number of pairing sessions: {{sessionCount}} <br/>
            Total number of pairings made: {{pairingCount}} <br/>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title">Most Popular Keywords in Tasks</span>
          <div>
            {{#each word in popularTasks}}
              <div class="chip">
                {{word.word}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="col s8 offset-s2" id="role">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Group Roles</span>
          <div>
            {{#each role in group.roles}}
              <div class="chip clickable" data-id="{{role.title}}">
                {{role.title}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title">Aggregate Statistics</span>
          {{#if pairingCount}}
            <p>
              Total number of pairing sessions: {{pairingCount}} <br/>
              Total number of pairs made: [tbd] <br/>
            </p>
          {{else}}
            <p class="info">
              Select a group role to see its aggregate statistics.
            </p>
          {{/if}}
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title">Most Popular Partners (Individuals)</span>
          <div>
            {{#each partner in (topPartners 'individual')}}
              <div class="chip">
                {{$index partner 0}} | {{$index partner 1}}
              </div>
            {{else}}
              <p class="info">
                Select a group role to see the individuals that most often pair with it.
              </p>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title">Most Popular Partners (Roles)</span>
          <div>
            {{#each role in (topPartners 'role')}}
              <div class="chip">
                {{$index role 0}} | {{$index role 1}}
              </div>
            {{else}}
              <p class="info">
                Select a group role to see the popularity of other roles with it.
              </p>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="col s8 offset-s2" id="individual">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Group Members</span>
          <div>
            {{#each member in group.members}}
              <div class="chip clickable" data-id="{{member.userId}}">
                {{member.fullName}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title">Aggregate Statistics</span>
          {{#if pairingCount}}
            <p>
              Total number of pairing sessions: {{pairingCount}} <br/>
              Total number of pairs made: [tbd] <br/>
            </p>
          {{else}}
            <p class="info">
              Select a group member to see his/her aggregate statistics.
            </p>
          {{/if}}
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title">Most Popular Partners (Individuals)</span>
          <div>
            {{#each partner in (topPartners 'individual')}}
              <div class="chip">
                {{$index partner 0}} | {{$index partner 1}}
              </div>
            {{else}}
              <p class="info">
                Select a group member to see his/her popular partners.
              </p>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title">Most Popular Partners (Roles)</span>
          <div>
            {{#each role in (topPartners 'role')}}
              <div class="chip">
                {{$index role 0}} | {{$index role 1}}
              </div>
            {{else}}
              <p class="info">
                Select a group member to see the most common type of person in the group he/she pairs with.
              </p>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title">Most Requested Tasks</span>
          <div>
            {{#each word in popularTasks}}
              <div class="chip">
                {{word.word}}
              </div>
            {{else}}
              <p class="info">
                Select a group member to see their most requested tasks.
              </p>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </section>
</template>