<template name="groups_home_group">
  <li class="collection-item multi-line">
    <span class="title">{{ group.groupName }}</span>
    <p>{{$len group.members}} members</p>
    {{#if (showSettings group)}}
      <a href="{{pathFor 'App.groups.settings' groupId=group._id}}" class="tertiary-content hide-on-small-and-down tooltipped"
         data-position="bottom" data-tooltip="Group Settings">
        <i class="material-icons">settings</i>
      </a>
    {{/if}}
    <a href="{{pathFor 'App.pair' groupId=group._id}}" class="secondary-content tooltipped" data-position="bottom"
       data-tooltip="Launch Pool">
      <i class="material-icons">launch</i>
    </a>
  </li>
</template>