<template name="pairings_task">
  <li class="collection-item avatar row">
    <div class="float-center left">
      <!--<img src="" alt="">-->
      <span class="title">{{task.task}}</span>
      <p class="person">{{task.name}}</p>
    </div>
    <div class="float-center right">
      <p class="range-field">
        <input name="{{task._id}}-affinity" id="{{task._id}}-1" type="radio" value="-1" {{isSelected -1}}>
        <label for="{{task._id}}-1">1</label>

        <input name="{{task._id}}-affinity" id="{{task._id}}-2" type="radio" value="0" {{isSelected 0}}>
        <label for="{{task._id}}-2">2</label>

        <input name="{{task._id}}-affinity" id="{{task._id}}-3" type="radio" value="0.33" {{isSelected 0.33}}>
        <label for="{{task._id}}-3">3</label>

        <input name="{{task._id}}-affinity" id="{{task._id}}-4" type="radio" value="0.66" {{isSelected 0.66}}>
        <label for="{{task._id}}-4">4</label>

        <input name="{{task._id}}-affinity" id="{{task._id}}-5" type="radio" value="1" {{isSelected 1}}>
        <label for="{{task._id}}-5">5</label>
      </p>
    </div>
  </li>
</template>
