<template name="pairings_task">
  <li class="collection-item avatar row">
    {{> avatar userId=task.userId username=task.name tooltip=false}}
    <div class="float-center left">
      <a href="#{{task.userId}}-task" class="modal-trigger">
        <span class="title">{{task.task}}</span>
      </a>
      <p class="person">{{task.name}}</p>
    </div>
    <div class="float-center right hide-on-med-and-down">
      <p class="range-field">
        <input name="{{task._id}}-affinity" id="{{task._id}}-1" type="radio" value="-1" {{isChecked -1}}>
        <label for="{{task._id}}-1">1</label>

        <input name="{{task._id}}-affinity" id="{{task._id}}-2" type="radio" value="0" {{isChecked 0}}>
        <label for="{{task._id}}-2">2</label>

        <input name="{{task._id}}-affinity" id="{{task._id}}-3" type="radio" value="0.33" {{isChecked 0.33}}>
        <label for="{{task._id}}-3">3</label>

        <input name="{{task._id}}-affinity" id="{{task._id}}-4" type="radio" value="0.66" {{isChecked 0.66}}>
        <label for="{{task._id}}-4">4</label>

        <input name="{{task._id}}-affinity" id="{{task._id}}-5" type="radio" value="1" {{isChecked 1}}>
        <label for="{{task._id}}-5">5</label>
      </p>
    </div>
    <div class="float-center right hide-on-large-only">
      <select class="browser-default">
        <option hidden disabled selected value></option>
        <option value="-1" {{isSelected -1}}>1</option>
        <option value="0" {{isSelected 0}}>2</option>
        <option value="0.33" {{isSelected 0.33}}>3</option>
        <option value="0.66" {{isSelected 0.66}}>4</option>
        <option value="1" {{isSelected 1}}>5</option>
      </select>
    </div>
    <div id="{{task.userId}}-task" class="modal">
      <div class="modal-content">
        <p>
          {{task.task}}
        </p>
      </div>
    </div>
  </li>
</template>
