
.pairings {
  .user-preview {
    .person {
      display: block;
    }
  }

  .collection {
    li.collection-item {
      height: 84px;
      padding-left: 84px;

      img.circle {
        @extend .absolute-center;
        left: 28px;
      }

      .left {
        .title {
          font-size: 1.2em;
        }

        .person {
          font-size: 0.8em;
          font-style: italic;
        }
      }

      .right p {
        display: inline-block;
      }
    }

    .float-center {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &.left {
        max-width: 50%;
      }

      &.right {
        right: 5%
      }

      input {
        width: auto;
      }
    }
  }

  .range-field {
    label {
      padding-left: 25px;
      margin-right: 5px;
    }
  }

  // Keeps page height constant
  .spinner-wrapper {
    height: 100px;
  }

  #pair_results {
    position: relative;
    .avatar-progress {
      position: absolute;
      transition: all 0.5s ease-in-out;

      $avatar-dimensions: 50px;
      img {
        width: $avatar-dimensions;
        height: $avatar-dimensions;
      }
    }
  }

}
