
.pairings {
  .controls {
    @media #{$small-and-down} {
      .right {
        padding: 0 10px;
      }
      a.btn {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .user-preview {
    .person {
      display: block;
    }
  }

  .modal {
    top: 40% !important;
  }

  @media #{$small-and-down} {
    .input-label-text .float-right {
      float: left;
    }
  }

  .collection {
    li.collection-item {
      height: 84px;
      padding-left: 84px;

      img.circle {
        @extend .centered-y;
        left: 28px;
      }

      .left {
        .title {
          font-size: 1.2em;
          cursor: default;
          @extend .grey-text, .text-darken-3;
        }

        .person {
          font-size: 0.8em;
          font-style: italic;
        }
      }

      .right p {
        display: inline-block;
      }

      @media #{$small-and-down} {
        height: auto;
        .left {
          max-width: none;
          width: calc(100% - 150px);

          .title {
            display: block;
            font-size: 1em;
            max-height: 60px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: pre-wrap;
          }
          .person {
            font-size: 0.7em;
          }
        }

        .right {
          width: 50px;
        }
      }

    }

    .float-center {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &.left {
        max-width: 50%;
      }

      &.right {
        right: 5%
      }

      input {
        width: auto;
      }
    }
  }

  .range-field {
    label {
      padding-left: 25px;
      margin-right: 5px;
    }
  }

  // Keeps page height constant
  .spinner-wrapper {
    height: 100px;
  }

  #pair_results {
    position: relative;
    .avatar-progress {
      position: absolute;
      transition: all 0.5s ease-in-out;
      transform: translateX(-50%);

      $avatar-dimensions: 50px;
      img {
        width: $avatar-dimensions;
        height: $avatar-dimensions;
      }
    }

    .prize {
      @extend .avatar-progress;
      z-index: 5;
      $prize-dimensions: 35px;
      img {
        width: $prize-dimensions;
        height: $prize-dimensions;
      }
    }

    ul {
      @media #{$small-and-down} {
        li {
          padding-left: 20px;
        }
      }
    }
  }

}
