<template name="pairings">
  {{#if makingPairs}}
    {{> confetti}}
  {{/if}}
  <div class="pairings">
    <div class="row controls">
      <div class="right">
        <a id="leavePool" class="waves-effect waves-light orange accent-2 btn tooltipped" data-position="bottom" data-tooltip="Exit current pairing session">Leave Session</a>
        <a id="reset" class="waves-effect waves-light red btn tooltipped" data-position="bottom" data-tooltip="Clear previous pairing results">Reset Pool</a>
        <a id="makePairs" class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Run pairing algorithm">Make Pairs</a>
      </div>
    </div>

    <div class="row user-preview">
      <div class="col s12">
        <span class="input-label-text">
          This is how you appear to others.
          {{#if $nt editingTask}}
            <a id="editTask" href="#">(edit task)</a>
          {{else}}
            <a id="updateTask" href="#">(update task)</a>
          {{/if}}
        </span>
        <ul class="collection">
          <li class="collection-item avatar row">
            {{> avatar userId=user._id username=user.name tooltip=false}}
            <div class="float-center left">
              {{#if $nt editingTask}}
                <span class="title">{{currentTask.task}}</span>
              {{else}}
                <input name="task" type="text" class="title browser" value="{{currentTask.task}}">
              {{/if}}
              <p class="person">{{user.name}}</p>
            </div>
            <div class="float-center right hide-on-med-and-down">
              <p class="range-field">
                <input name="{{currentTask._id}}-affinity" id="{{currentTask._id}}-1" type="radio" disabled>
                <label for="{{currentTask._id}}-1">1</label>

                <input name="{{currentTask._id}}-affinity" id="{{currentTask._id}}-2" type="radio" disabled>
                <label for="{{currentTask._id}}-2">2</label>

                <input name="{{currentTask._id}}-affinity" id="{{currentTask._id}}-3" type="radio" disabled>
                <label for="{{currentTask._id}}-3">3</label>

                <input name="{{currentTask._id}}-affinity" id="{{currentTask._id}}-4" type="radio" disabled>
                <label for="{{currentTask._id}}-4">4</label>

                <input name="{{currentTask._id}}-affinity" id="{{currentTask._id}}-5" type="radio" disabled>
                <label for="{{currentTask._id}}-5">5</label>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        {{#if $gt userCount 1}}
          <div class="input-label-text full-width">
            <span>
              How much can you help with each of these tasks?
            </span>
            <span class="float-right">
              (1: can't help at all, 5: totally can help)
            </span>
          </div>
          <div class="input-label-text caption full-width">
            <span>
              Remember to rate honestly to ensure the best pairs.
            </span>
          </div>
          <br class="hide-on-med-and-up">
          <ul class="collection">
            {{#each task in groupTasks}}
              {{> pairings_task (pairTaskArgs task)}}
            {{/each}}
          </ul>
        {{else}}
          <p>Hang tight, waiting on others to enter the pair research pool...</p>
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        {{userCount}} users have entered {{affinityCount}} affinities.
      </div>
    </div>

    <div class="row" id="pair_results">
      <div class="col s12">
        {{#if pairResultCreated}}
          {{> pairings_results pairResultArgs}}
          <span class="input-label-text">
            Someone in your group accidentally made pairs? <a href="#" id="cancelPairs">Undo that.</a>
          </span>
        {{else}}
          {{#if race}}
            {{#each task in allTasks}}
              {{#let placing=(place task.userId)}}
                {{#if placing}}
                  <div style="top: {{$minus ($times @index 25) 10}}px; left: {{placeLeft (percentage task.userId)}}"
                       class="prize">
                    <img src="{{placeAvatar placing}}" class="circle">
                  </div>
                {{/if}}
              {{/let}}
                <div style="top: {{$times @index 55}}px; left: {{percentage task.userId}}%" class="avatar-progress">
                  {{> avatar userId=task.userId username=task.name tooltip=true}}
                </div>
            {{/each}}
          {{else}}
            <div class="spinner-wrapper">
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
                </div>

                <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
                </div>

                <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
                </div>
              </div>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
