<template name="pairings">
  <div class="pairings">
    <div class="row">
      <div class="right">
        <a id="leavePool" class="waves-effect waves-light orange accent-2 btn">Leave Pool</a>
        <a id="reset" class="waves-effect waves-light red btn">Reset Pool</a>
        <a id="makePairs" class="waves-effect waves-light btn">Make Pairs</a>
      </div>
    </div>

    <div class="row user-preview">
      <div class="col s12">
        <span class="input-label-text">
          This is how you appear to others.
          {{#if $nt editingTask}}
            <a id="editTask" href="#">(edit)</a>
          {{else}}
            <a id="updateTask" href="#">(update)</a>
          {{/if}}
        </span>
        <ul class="collection">
          <li class="collection-item avatar row">
            <div class="float-center left">
              <!--<img src="" alt="">-->
              {{#if $nt editingTask}}
                <span class="title">{{currentTask.task}}</span>
                <p class="person">{{user.name}}</p>
              {{else}}
                <input name="task" type="text" class="title browser" value="{{currentTask.task}}">
                <input name="username" type="text" class="person browser" value="{{user.name}}">
              {{/if}}
            </div>
            <div class="float-center right">
              <p class="range-field">
                <input name="{{currentTask._id}}-affinity" id="{{currentTask._id}}-1" type="radio" disabled>
                <label for="{{currentTask._id}}-1">1</label>

                <input name="{{currentTask._id}}-affinity" id="{{currentTask._id}}-2" type="radio" disabled>
                <label for="{{currentTask._id}}-2">2</label>

                <input name="{{currentTask._id}}-affinity" id="{{currentTask._id}}-3" type="radio" disabled>
                <label for="{{currentTask._id}}-3">3</label>

                <input name="{{currentTask._id}}-affinity" id="{{currentTask._id}}-4" type="radio" disabled>
                <label for="{{currentTask._id}}-4">4</label>

                <input name="{{currentTask._id}}-affinity" id="{{currentTask._id}}-5" type="radio" disabled>
                <label for="{{currentTask._id}}-5">5</label>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        {{#if $gt userCount 1}}
          <div class="input-label-text full-width">
            <span>
              How much can you help with each of these tasks?
            </span>
            <span class="float-right">
              (1: not at all, 5: totally)
            </span>
          </div>
          <ul class="collection">
            {{#each task in groupTasks}}
              {{> pairings_task (pairTaskArgs task)}}
            {{/each}}
          </ul>
        {{else}}
          <p>Hang tight, waiting on others to enter the pair research pool...</p>
        {{/if}}
      </div>
    </div>

    <div class="row">
      {{userCount}} users have entered {{affinityCount}} affinities.
    </div>

    <div class="row" id="pair_results">
      <div class="col s12">
        {{#if pairResultCreated}}
          {{> pairings_results pairResultArgs}}
        {{else}}
          {{#each task in allTasks}}
            <div style="top: {{$x @index 15}}px; left: {{percentage task.userId}}%" class="avatar-progress">
              <img src="{{avatar task.userId}}" class="circle">
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</template>