body {
    background-color: white;
/*	background-image: url('background.png');
    background-repeat: repeat; */
    font-family: 'Lato', 'Open Sans', sans-serif;
    margin-left: 50px;
}

#emph-title {
    position: absolute;
    left: 0px;
    top: 50px;
    margin:  auto;
    width: 100%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 96px;
    font-weight: 700;
    text-align:center;
}

#emph-title .highlight {
/*    background-color: rgb(195,195,195); */
}

.likert {
  float: left;
   display: inline-block;
    position: relative; 
    height: auto;
    height: 200px;
position: relative;
display: inline;
font-size: 1.2em;
margin-left: 20px;
margin-right: 20px;
margin-top: 14px;

}

input[type=radio] {
       margin-left: 4px;
   margin-right: 4px;
}

 .clear {
  clear: left;
}

.grid-item {
    padding: 10px;
    width: 8%;
    height:5px;
    float:right;
    margin-bottom: 30px;
}


.grid-colored {
        border: 1px solid rgb(237,159,53);
}

.grid-plain {
     border: 1px solid white;   
}
.person-image {
height: 200px;
width: 200px;
}

.person-image {
	float: left;
}

.floated {
height: 200px;

position: relative;
display: inline;
font-size: 1.2em;
	vertical-align: center;

}

.name {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 6px;
}

/* CSS talk bubble */
 .talk-bubble {
    margin-left: 40px;
    display: inline-block;
    position: relative;
    min-height: 100px;
    width: 200px;
    height: auto;
    float:left;
    background-color: white;   
}

.helpme .talk-bubble {
    background-color: rgb(94,210,239);
}
.helpme .tri-right.left-in:after {
    border-color: rgb(94,210,239) rgb(94,210,239) transparent transparent;
}

/* Right triangle, left side slightly down */
 .tri-right.border.left-in:before {
    content:' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after {
    content:' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: white white transparent transparent;
}

textarea {
    resize: vertical; 
    width: 100%;
    max-height: 180px;
    height: 8em;
    font-size: 16px;
    padding: 10px;

}

input#fullname {
     font-size: 24px;
     width: 100%;
     padding: 10px;
     border:1px solid rgb(237,159,53);
}

input:focus#fullname {
outline: none;
}

.section {
    margin-bottom: 50px;
}

/* talk bubble contents */
 .talktext {
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
    font-size: 18px;
    word-wrap: break-word;

}
.talktext p {
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}


.name-inverse {
    color: white;
}


#pair {
    position: fixed;
     top: 0px;
     right: 0px;
   float: right;
}

p, span, div, body {
    cursor:default;
}
 .helpme {
    margin-bottom: 40px;
    background-color: rgb(6,55,93);
    padding: 20px;
-webkit-border-top-left-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-bottomleft: 15px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
 }

.singleMatch {
   margin-bottom: 40px;
}

.helpone {
    margin-bottom: 40px;
    background-color: rgb(94,210,239);
    padding: 20px;
    -webkit-border-top-left-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-bottomleft: 15px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;

}

.progressRing {
    border: 3px solid #999;
    -webkit-border-radius: 60px;
    height: 60px;
    background-color: lightgray;
    width: 60px;
    margin: 30px;
 /*   position: absolute;
    left:20px;
    top:214px;
*/
}

.pulsing {
    border: 10px solid green;
    background-color: white;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}