ul.collection.invites {
  li.collection-item {
    position: relative;
  }

  select.browser-default {
    display: inline-block;
    width: 30%;
  }

  .secondary-content {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }

  .tertiary-content {
    @extend .secondary-content;
    right: 48px;
  }
}

ul.roles {
  $roles-font: 18px;

  vertical-align: middle;
  line-height: $roles-font;

  .role-left {
    .material-icons {
      @extend .teal-text, .text-lighten-2;
    }
  }
  .material-icons {
    vertical-align: middle;
    line-height: $roles-font;
    cursor: pointer;
  }

  .disabled {
    cursor: pointer;
  }
}

