// Hides scroll bar on Chrome, since it affects page layout
::-webkit-scrollbar {
  display: none;
}


.pair-form {
  .input-field {
    overflow: hidden;
    i.material-icons {
      top: 0.6rem;
    }
  }
  input[type=search] {
    &:focus {
      border: 0;
      border-bottom: 1px solid #26a69a;

    }
  }

  label.active {
    transform: none;
  }

}
