// Hides scroll bar on Chrome, since it affects page layout
::-webkit-scrollbar {
  display: none;
}

.pair-form {
  .input-field {
    overflow: hidden;
    i.material-icons {
      top: 0.6rem;
    }
  }
  input[type=search] {
    &:focus {
      border: 0;
      border-bottom: 1px solid #26a69a;

    }
  }

  label.active {
    transform: none;
  }
}

.input-field.valign-wrapper {
  justify-content: space-between;

  input {
    width: 80%;
  }
}

.chip {
  margin-bottom: 5px;

  &.active {
    @extend .teal, .lighten-2;
  }
}

// for login / forgot-password TODO: refactor
.simple-cards {
  padding-top: 3em;
  text-align: center;

  form.card {
    margin-top: 2em;
    padding: 2em;

    button {
      margin-top: 0.5em;
    }
  }
}

// promo object
.promo {
  width: 100%;
  .material-icons {
    @extend .amber-text, .text-darken-2;
    font-size: 7rem;
    margin: 20px 0;
  }

  .promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

// materialize overrides

// required selects >.>
select[required] {
  position: absolute;
  display: inline;
  top: 32px;
  left: 32px;
  height: 0;
  padding: 0;
  width: 0;
  z-index: -100;
  border-color: transparent;
}

// dropdown
.member-select {
  overflow: visible;

  li {
    position: relative;
  }

  .name {
    display: inline-block;
    width: 200px;
  }
  .select-wrapper {
    display: inline-block;
    margin: auto;
    position: relative;

    input[type=text] {
      text-overflow: ellipsis;
    }

    .caret {
      display: none;
    }

    input.select-dropdown {
      margin: 0 0 0 0;
      text-align: center;
      width: auto;
      display: inline;
      border: none;
      text-transform: uppercase;
      @extend .teal-text;
    }

    .dropdown-content.select-dropdown {
      margin: 0 0 0 0;

      li {
        text-align: center;
      }
    }
  }

  .secondary-content {
    position: absolute;
    top: 21px;
    right: 16px;
    float: right;
  }
}

// override input
input[type=text].browser {
  border: 1px solid rgb(224, 224, 224);
  width: auto;
  height: auto;
  margin: 0;
}

input[type=text].browser:focus {
  border: 1px solid rgb(224, 224, 224);
  box-shadow: none;
}

// mimics avatar, but without the image padding
li.collection-item.multi-line {
  position: relative;

  .title {
    font-size: 16px;
  }

  p {
    margin: 0;
    @extend .grey-text;
  }

  .secondary-content {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .tertiary-content {
    @extend .secondary-content;
    right: 48px;
  }
}

.collapsible {
  .collapsible-body {
    li.active {
      @extend .teal;
    }
  }
}
