// Hides scroll bar on Chrome, since it affects page layout
::-webkit-scrollbar {
  display: none;
}


.pair-form {
  .input-field {
    overflow: hidden;
    i.material-icons {
      top: 0.6rem;
    }
  }
  input[type=search] {
    &:focus {
      border: 0;
      border-bottom: 1px solid #26a69a;

    }
  }

  label.active {
    transform: none;
  }
}

// materialize overrides

// dropdown
.member-select {
  overflow: visible;

  li {
    position: relative;
  }

  .name {
    display: inline-block;
    width: 200px;
  }
  .select-wrapper {
    display: inline-block;
    margin: auto;
    position: relative;

    .caret {
      display: none;
    }

    input.select-dropdown {
      margin: 0 0 0 0;
      text-align: center;
      width: auto;
      display: inline;
      border: none;
      text-transform: uppercase;
      @extend .teal-text;
    }

    .dropdown-content.select-dropdown {
      margin: 0 0 0 0;

      li {
        text-align: center;
      }
    }
  }

  .secondary-content {
    position: absolute;
    top: 21px;
    right: 16px;
    float: right;
  }
}
