@import url(//fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

body {
  font-family: Lato, sans-serif;
}

.input-label-text {
  font-size: 0.8rem;
  color: #9e9e9e;
}

.header {
  @extend .orange-text, .text-lighten-2;
}

.disabled {
  @extend .grey-text, .text-lighten-1;
}

.caption {
  font-weight: 300;
}