@import url(//fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

body {
  font-family: Lato, sans-serif;
}

.input-label-text {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.50);
}

.header {
  @extend .amber-text, .text-darken-2;
}

.disabled {
  @extend .grey-text, .text-lighten-1;
}

.caption {
  font-weight: 300;
}

.info {
  @extend .grey-text;
}
