body {
  @extend .grey, .lighten-5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.fill-page {
  height: 100vh;
  width: 100%;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.absolute {
  position: absolute;
}

.bold {
  font-weight: bold;
}

.absolute-center {
  top: 50%;
  transform: translateY(-50%);
}

.clickable {
  cursor: pointer;
}

.centered-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.centered-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.centered-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.relative {
  position: relative;
}